body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #2d354c;
  /* height: 88px; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 22px 0;
}

.header-logo {
  height: 41px;
}

.button {
  border: 1px solid;
  border-radius: 5px;
}

.header-button {
  background-color: #2d354c;
  height: 44px;
  width: 168px;
  color: white;
  font-size: 16px;
  font-weight: 300;
  border-color: white;
}

.hero {
  background-image: url('./assets/Hero\ image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px;
  text-align: center;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: white;
}

.hero-content h1 {
  max-width: 1000px;
  font-size: 56px;
  font-family: 'Roboto Mono', sans-serif;

  text-align: center;
  font-weight: 400;
}

.hero-button {
  background-color: #4dc3f9;
  height: 56px;
  width: 327px;
  color: white;
  font-size: 20px;
  border-color: #4dc3f9;
}

.discover {
  padding: 64px 216px;
  color: #2d354c;
}

.discover h2 {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 38px;
  margin: 0;
}

.discover p {
  font-weight: 300;
  color: #818693;
  line-height: 32px;
  font-size: 20px;
}

.discover-cards {
  display: flex;
  width: 100%;
}

.discover-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #f8f8f8;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  flex-grow: 1;
  flex-basis: 0;
  padding: 40px 26px;
}

.discover-card:first-child {
  margin-right: 24px;
}

.discover-card-duration {
  color: #4dc3f9;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.discover-card-title {
  font-size: 32px;
  font-weight: 500;
  font-family: 'Roboto Mono', sans-serif;
}

.discover-card-description {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  color: #818693;
  text-align: center;
}
